<suite name="myTestSuite">
	<parameter name="browser" value="Chrome"></parameter>
	<listeners>
		<listener class-name="listeners.Listeners"></listener>
		<!-- <listener class-name="listeners.RetryListener"></listener>-->
	</listeners>
	<test name="myTest">
		<classes>

			<!-- <class name="testscript.AdminUserTest"></class>
			
			<methods>
					<include
						name="verifyIfUserInfoCanUpdateStatus"></include>
				</methods>-->
			   <class name="testscript.LoginTest"></class>
			    <class name="testscript.AdminUserTest"></class>
			 	 <class name="testscript.SubCategoryTest"></class>
				 <class name="testscript.CategoryTest"></class>

			<class name="testscript.ManageProductTest"></class>
		</classes>
	</test>
</suite>
